@use 'tailwindcss';
@import "primeicons/primeicons.css";
:root{
    --tinto:#790726;
    --cafe:#CCB6A1;
    --cafe-oscuro:#a89786;
    --gris-fondo:#fcfcfc;
    --oscuro-inst:#2C2C2C;
    --oscuro-calido:#475569;
    --text-claro:#ffffff
}